#fiveDay {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
}




#today {
    max-width: 10%;
    margin: 0 ;
    text-align: left;
    border: 2px solid grey;
    background-color: lightgreen;
    margin-bottom: 5%;
    margin-top: 5%;

 
}

.day {
    text-align: center;
    border: 2px solid grey;
    background-color: lightgreen;
    height: 150%;
    
}